.width {
	max-width: 750px;
	margin:auto;
}

.color {
	background-color:mintcream;
}

.img {
	height:auto;
	width:100%;
}

.padder {
	margin-left:2%;
	margin-right:2%;
	margin-top:3%;
	margin-bottom:3%;
}

.center {
	display:flex;
	justify-content: center;
  align-content: center;
  text-align: center;
}

.padding {
	padding-top:30px;
	padding-bottom:30px;
}

.padleft {
	padding-left: 10px;
}

.padright {
	padding-right: 35px;
}

.padtop {
	padding-top:30px;
}

.smallpadtop {
	padding-top:5px;
}

h1 {
	padding-top:15px;
}

hr {
	color: #f00;
	height: 5px;
	padding:0;
	margin:0;
}

a {
	color:steelblue;
}

a:hover {
	text-decoration: none;
	color:black;
}

.footer {
	padding-top: 200px;
	padding-bottom: 50px;
}

body {
  overflow-x: hidden;
}

.wide {
	max-width: 750px;
	margin:auto;
}

@media only screen and (max-width: 575px) {
	.padder {
		margin-left:20%;
		margin-right:20%;
		margin-top:4%;
		margin-bottom:4%;
	}
  }
