.avatar {
    height: auto;
    text-align: center;
}

.contact {
    height: auto;
}

.technical {
    height: auto;
}

.soft {
    height: auto;
}

.bio {
    height: auto;
}

.education {
    height: auto;
}

.showcase {
    height: auto;
}

.row div {
    width:100%;
}

hr {
    border: 1px solid black;
}

h3 {
    font-weight: bold;
    font-size: 1.5em;
}

div {
    font-size: small;
}

.date {
    color: #0091BD;
    text-decoration: underline;
    margin-top:5px;
    margin-bottom:5px;
}

.school {
    margin-top:-5px;
    margin-bottom:-5px;
    font-weight: bold;
}

.soft ul {
    margin-top:5px;
    margin-bottom:5px;
    list-style-position: inside; padding-left: 0;
}

.date ul {
    margin-top:5px;
    margin-bottom:5px;
    list-style-position: inside; padding-left: 0;
}

.margin {
    margin-top:0px;
    margin-bottom:0px;
}

.contact p {
    margin-top:15px;
    padding-left:40px;
}

.padIcon {
    margin-right:15px;
}

.technical img {
    margin-top:15px;
}

.bio p {
    margin-top:35px;
}

.showcase div {
    text-align: center;
    margin-top:20px;
    margin-bottom:20px;
}

.title {
    margin-top:40px;
}

.soft ul {
    margin-top:30px;
}

.soft li{
    padding:8px;
}

body > {
    font-size: 50px;
}

.center {
	display:flex;
	justify-content: center;
  align-content: center;
  text-align: center;